<%- include  ../common/header.ejs %>
	<div class="container">
		<div class="movie-list">
			<% categories.forEach(function (category) { %>
				<% if (category && category.movies.length > 0) { %>
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<a href="/movieSreach?id=<%= category._id %>&page=0">
				  		<%= category.name %>
				  	</a>
				  </div>
				  <div class="panel-body">
					<div class="row">
					<% category.movies.forEach(function (item) { %>
					  <div class="col-sm-3 col-md-2">
						<div class="thumbnail">
							<% if (item.poster.indexOf('http') > -1 ) { %>
								<img src="<%= item.poster %>" alt="">
							<% } else { %>
								<img src="upload/<%= item.poster %>" alt="">
							<% } %>
							<div class="caption">
								<h3><%= item.name %></h3>
								<p><%= item.author %></p>
								 <p><a href='movie/<%= item._id %>' class="btn btn-primary" role="button">观看预告片</a></p>
							</div>
						</div>
					   </div>
					<% }) %>
					</div>
				  </div>
				</div>
				<% } %>
			<% }) %>
		</div>
	</div>
<% include  ../common/footer.ejs %>