<% include  ../common/header.ejs %>
	<div class="container">
		 <div class="row">
		 	<div class="col-sm-8">
		 		<embed src="/swf/<%= movie.swf %>" type="application/x-shockwave-flash" align="middle" allowFullScreen='true' quality="high" width="720" height ='600'>
		 		<div>
		 		<% comments.forEach(function (item) { %>
		 		<div class="media">
		 			<div class="media-left">
		 				<a href="#">
		 					<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWIzODY0OTQzMyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1YjM4NjQ5NDMzIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;"></a>
		 			</div>
		 			<div class="media-body">
		 				<h4 class="media-heading"><%= item.from.name %></h4>
		 				<%= item.content %>
		 				<!-- <div class="media">
		 					<div class="media-left">
		 						<a href="#">
		 							<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNWIzODY0Yjg2ZCB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1YjM4NjRiODZkIj48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;"></a>
		 					</div>
		 					<div class="media-body">
		 						<h4 class="media-heading">Nested media heading</h4>
		 						Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		 					</div>
		 				</div> -->
		 			</div>
		 		</div>
		 		<% }) %>
		 	</div>
		 		<form action="/movie/comment" method="post">
		 			<div class="form-group">
		 				<input type="hidden" class="form-control" value="<%= movie._id %>" name="comment[movie]">
		 				<input type="hidden" class="form-control" value="<%= user._id %>" name="comment[from]">
		 				<textarea class="form-control" rows="3" name='comment[content]'></textarea>
		 			</div>
		 			<button class="btn btn-primary" type="submit">提交</button>
		 		</form>
		 	</div>
		 	<div class="col-sm-4">
		 		<dl class="dl-horizontal">
		 			<dt>电影名</dt>
		 			<dd><%= movie.name %></dd>
		 			<dt>导演</dt>
		 			<dd><%= movie.author %></dd>
		 			<dt>年份</dt>
		 			<dd><%= movie.year %></dd>
		 			<dt>国家</dt>
		 			<dd><%= movie.country %></dd>
		 			<dt>语种</dt>
		 			<dd><%= movie.language %></dd>
		 			<dt>简介</dt>
		 			<dd><%= movie.summary %></dd>
		 		</dl>
		 	</div>
		 </div>
	</div>
<% include  ../common/footer.ejs %>