<% include  ../common/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form action="/admin/movie/new" method="post" enctype="multipart/form-data">
				  <% if(movie._id) { %>
				  	<input type="hidden" name = 'movie[_id]' value="<%= movie._id %>">
				  <% } %> 
				  <div class="form-group">
				    <label for="">电影分类</label>
				    <input type="text" class="form-control" name="movie[catetoryName]" placeholder="电影分类" value="">
				  </div>
				  <% if(movie._id) { %>
				  	  <!-- 更新 -->
					  <div class="form-group">
					    <label for="">分类选择</label>
					   	<% categories.forEach(function (category){ %>
					   		<% if (category.checked){ %>
					   		<input type="checkbox" name='movie[category]' value="<%=category._id%>" checked='<%=category.checked %>'> <%= category.name %>
					   		<% } else { %>
					   		<input type="checkbox" name='movie[category]' value="<%=category._id%>"> <%= category.name %>
					   		<% } %>
					   	<% }) %>
					  </div>
				  <% } else {%>
				  	<!-- 录入 -->
				  	<div class="form-group">
					    <label for="">分类选择</label>
					   	<% categories.forEach(function (category){ %>
					   	<!-- <input type="radio" name="movie[category]" value="<%= category._id %>" /> <%= category.name %> -->
					   	<input type="checkbox" name='movie[category]' value="<%=category._id%>"> <%= category.name %>
					   	<% }) %>
				  	</div>
				  <% } %>
				  <div class="form-group">
				    <label for="inputName">电影名字</label>
				    <input type="text" class="form-control" name="movie[name]" placeholder="电影名字" value="<%=movie.name%>" id='inputName'>
				  </div>
				  <div class="form-group">
				    <label for="inputAuthor">导演</label>
				    <input type="text" class="form-control" name="movie[author]" placeholder="导演" value="<%= movie.author %>" id='inputAuthor'>
				  </div>
				   <div class="form-group">
				    <label for="inputYear">年份</label>
				    <input type="text" class="form-control" name="movie[year]" placeholder="年份" value="<%= movie.year %>" id='inputYear'>
				  </div>
				  <div class="form-group">
				    <label for="inputCountry">国家</label>
				    <input type="text" class="form-control" name="movie[country]" placeholder="国家" value="<%= movie.country %>" id='inputCountry'>
				  </div>
				  <div class="form-group">
				    <label for="inputLanguage">语种</label>
				    <input type="text" class="form-control" name="movie[language]" placeholder="语种" value="<%= movie.language %>" id='inputLanguage'>
				  </div>
				  <div class="form-group">
				    <label for="inputPoster">海报地址</label>
				    <input type="text" class="form-control" name="movie[poster]" placeholder="海报地址" value="<%=  movie.poster %>" id='inputPoster'>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputFile">上传海报</label>
				    <input type="file" id="exampleInputFile" name="uploadPoster">
				    <p class="help-block">选择文件上传</p>
				  </div>
				  <div class="form-group">
				    <label for="inpustSwf">地址</label>
				    <input type="text" class="form-control" name="movie[swf]" placeholder="地址" value="<%= movie.swf %>" id='inpustSwf'>
				  </div>
				  <div class="form-group">
				    <label for="inputSummary">简介</label>
				   	<textarea class="form-control" rows="3" name="movie[summary]" id="inputSummary"><%= movie.summary %></textarea>
				  </div>
				  <div class="form-group">
				  	<input class="form-control" id="douban" data-id='26309788'/>
				  </div>
				  <!-- <div class="form-group">
				    <label for="exampleInputFile">File input</label>
				    <input type="file" id="exampleInputFile">
				    <p class="help-block">Example block-level help text here.</p>
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Check me out
				    </label>
				  </div> -->
				  <button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
<% include  ../common/footer.ejs %>